@media(min-width:600px){
    #top_actions_section{
        display: flex !important;
        align-items: center;
    }
}


.user_list_item.active .user_list_arrow_icon{
    transform: rotate(180deg);
}

.user_list_item.active , .user_list_item.active .collapsible-header {
    background-color: rgba(149, 147, 147, 0.341);
}